# autotools
autom4te.cache/
aclocal.m4
ar-lib
compile
confdefs.h
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
conftest.c
conftest.err
conftest.o
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
test-driver
Makefile
Makefile.in
core/Makefile
core/Makefile.in
web/Makefile
web/Makefile.in

# build
core/chippy
core/libchippy.a
core/test_core
httpapi/httpapi
httpapi/Makefile
httpapi/Makefile.in
httpapi/**/*.o
httpapi/.deps/
core/chippy-asan
*.log
*.trs
chippy-asan
*.o
*.Po
.dirstamp
.deps/
*.dSYM/

# local data
.chippy/
*.key

# emacs
*~
\#*#
.#*
